# WIP formatting settings
---
BasedOnStyle: LLVM
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignOperands: AlignAfterOperator
AlignArrayOfStructures: Right
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BraceWrapping: 
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterFunction: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeBinaryOperators: None
BreakInheritanceList: BeforeComma
BreakConstructorInitializers: AfterColon
ColumnLimit: 130
#NamespaceIndentation: All
CompactNamespaces: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
FixNamespaceComments: true
IncludeBlocks: Regroup
IndentPPDirectives: BeforeHash
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
ReflowComments: false
SortIncludes: Never
SpaceAfterCStyleCast: true
SpacesInSquareBrackets: false
SpaceBeforeSquareBrackets: false
SpaceAfterTemplateKeyword: false
UseTab: Never
IndentWidth: 4
TabWidth: 4
#IndentAccessModifiers: true
AccessModifierOffset: -4
ContinuationIndentWidth: 4
PointerAlignment: Left
Cpp11BracedListStyle: false
...
