root = true

# Matches multiple files with brace expansion notation
# [*.{js,jsx,html,sass,h,cpp,c,cc,cxx,hpp,hh,.cs,.xaml,.xml}]
# charset = utf-8
# indent_style = spaces
# indent_size = 4
# trim_trailing_whitespace = true

# All files
[*]
charset = utf-8
indent_style = spaces
indent_size = 4
trim_trailing_whitespace = true
guidelines = 80, 120